* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(205, 15, 15);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(56, 228, 182);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body,
html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("../image/314948697_107430482182580_5654184975171342217_n.jpg");
    /* Full height */
    height: 100%;
    width: 100;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}