* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(205, 15, 15);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(56, 228, 182);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: rgb(26, 24, 24);
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    ...
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    ...
}


/* Medium devices (landscrape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    ...
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    ...
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    ...
}