* .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(220, 40, 0);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
    background-color: rgb(0, 255, 76);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

a {
    text-decoration: none;
}

.h {
    background-color: aquamarine;
    font-size: 1cm;
    text-align: center;
    font-family: phetsarath OT;
}

.i {
    background-color: rgb(25, 193, 50);
    font-size: 1cm;
    text-align: center;
    font-family: phetsarath OT;
}

.j {
    background-color: rgb(231, 31, 118);
    font-size: 1cm;
    text-align: center;
    font-family: phetsarath OT;
}

.k {
    background-color: rgb(180, 210, 13);
    font-size: 1cm;
    text-align: center;
    font-family: phetsarath OT;
}

.l {
    background-color: aquamarine;
    font-size: 1cm;
    text-align: center;
    font-family: phetsarath OT;
}

.m {
    background-color: rgb(193, 103, 103);
    font-size: 1cm;
    text-align: center;
    font-family: phetsarath OT;
}

.n {
    background-color: rgb(72, 18, 208);
    font-size: 1cm;
    text-align: center;
    font-family: phetsarath OT;
}